*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.main-container{
    margin:2rem auto;
    padding:0 2rem;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content:center;
    align-items: center;
    row-gap:30px;
    column-gap:30px;
}
.card-container{
    /* background-color: red; */
    justify-content: center;
}
.card{
    width:380px;
    height:690px;
    border:2px solid rgb(130, 11, 240);
    background-color: rgb(162, 82, 237);
    border-radius: 10px;
}
.image{
    width:376px;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nameBox{
    padding:10px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.title{
    color: yellow;
    font-size:2rem;
}
.tagname{
  background-color:rgba(71, 231, 62, 0.6);
  font-size:12px;
  padding:5px;
  width:auto;
  color:white;
  text-align: center;
  border-radius:5px;
}
.description{
    padding:10px;
    line-height:1.7rem;
}

@media screen and (max-width:1000px){
    .main-container {
      
      grid-template-columns: repeat(2, 1fr);
      
    }
  }
  @media screen and (max-width:760px){
    .main-container {
      
      grid-template-columns: repeat(1, 1fr);
      
    }
  }